.littlePane>div#idName.aboutUsStatement {
    content: "JobLynx is a cool website...";
}

.littlePane>ol.testList1>div { content: "list 1"; }
.littlePane>ol.testList2>div { content: "list 2"; }


/* each of the 4 following <LI> element will be added to 2 <OL> elements made above */
.littlePane>ol>li.itemA {
    content: "itemA";
}

.littlePane>ol>li.itemB {
    content: "itemB";
}

.littlePane>ol>li.itemC {
    content: "itemC";
}

.littlePane>ol>li.itemD {
    content: "itemD";
}


/* the following <SPAN> element will be added to 8 <LI> elements made above inside 2 separate <OL> elements */

li>span.starSpan {
    content: '*';
    color: red;
}