.siteIcon {
    width: 80px;
    padding: 20px 0px 0px 20px;
}

body {
    background: blue;
    margin: 0px;
}

.navArea {
    width: 100vw;
    height: 1in;
    background-color: white;
    position: relative; /* makes anchor so we position things*/
}

/*.siteIcon {
    height: 100%;
    position: absolute;
    left: 10vw;
}
*/

.loginLink {
    position: absolute;
    right: 19vw;
}

.ninjaButton {
    position: absolute;
    right: 10vw;
}